{% liquid
  assign images = product.media | where: 'media_type', 'image'
  assign custom_image = custom_image | default: images[0]
%}

<style>
  @media screen and (max-width: 768px) {
    .product_card_mini_mob {
      border: 1px solid #d5d8df;
      background: #f3f3f3;
      border-radius: 10px;
    }
  }
  @media screen and (min-width: 768px) {
    .product_card_mini_border {
      border: 1px solid #d5d8df;
    }
  }
</style>

{% if product != blank %}
  <div
    x-data="
      productCard({
        product:  {{ product | json | escape }},
        productOptions: {{ product.options_with_values | json | escape  }},
        selectedVariant: {% if product.selected_or_first_available_variant %}{{ product.selected_or_first_available_variant | json | escape  }}{% else %}{{ product.variants[0] | json | escape  }}{% endif %}
      })
    "
    class="product_card_mini_border tw-flex tw-items-center md:tw-items-start tw-justify-between tw-gap-2 md:tw-rounded-[10px] md:tw-bg-[#F3F3F3] md:tw-border-[#D5D8DF] md:tw-px-3.5 md:tw-py-3"
  >
    <div class="tw-flex tw-items-center md:tw-items-start tw-gap-2.5">
      {% if custom_image != blank %}
        <!-- PRODUCT CARD IMAGE -->
        <a
          :href="selectedVariant?.link"
          class="tw-shrink-0 tw-flex tw-items-center tw-justify-center product_card_mini_mob tw-px-3.5 tw-py-3 md:tw-py-0 md:tw-px-0"
        >
          <img
            class="tw-w-[72px] tw-h-auto tw-object-cover tw-aspect-square"
            loading="lazy"
            :src="selectedVariant?.featured_image ? selectedVariant?.featured_image?.src : product?.images[0]"
            :alt="`${product?.title} - ${selectedVariant?.name}`"
          >
        </a>
      {% endif %}

      <div>
        <!-- PRODUCT CARD TITLE -->
        <a :href="selectedVariant?.link">
          <h3
            class="tw-text-black tw-text-[13px] tw-leading-[17px] tw-font-bold"
            x-text="product.title"
          >
            {{ custom_title }}
          </h3>
        </a>

        <div class="tw-mt-1 lg:tw-mt-2 tw-flex tw-items-center tw-gap-1">
          <span
            aria-label="price"
            class="tw-text-[#0009FF] tw-font-medium tw-text-[13px] tw-leading-[17px] lg:tw-text-lg lg:tw-leading-[24px]"
            x-text="formatMoney(selectedVariant?.price)"
          >
          </span>
          <template x-if="selectedVariant?.compare_at_price !== 0">
            <span
              aria-label="compare at price"
              class="tw-text-[#888888] tw-font-medium tw-text-[11px] tw-leading-[17px] lg:tw-text-base !tw-leading-[22px] tw-line-through"
              x-text="formatMoney(selectedVariant?.compare_at_price)"
            >
            </span>
          </template>
        </div>

        {% form 'product', product %}
          {% unless product.has_only_default_variant %}
            <div class="tw-mt-1 lg:tw-mt-2.5">
              <template x-for="option in productOptions" :key="option.name">
                <div class="tw-flex tw-flex-wrap tw-gap-1.5">
                  <template x-for="value in option.values" :key="value">
                    <template x-if="option.name.toLowerCase().includes('color')">
                      <button
                        type="button"
                        @click="
                          changeVariant({
                            name: option.name,
                          }, value)
                        "
                        class="swatches tw-w-3 tw-h-3 tw-rounded-full"
                        :class="
                          {
                            active: selectedVariant?.options.includes(value),
                            ['swatch-' + value.toLowerCase().replace(/\s/g, '-')]: true
                          }
                        "
                        :style="
                          {
                            border: selectedVariant?.options.includes(value) ? '1px solid #2C3C60' : '1px solid #929292',
                            '--swatch': `var(--${value.toLowerCase().replace(/\s/g, '-')})`,
                            backgroundColor: `var(--${value.toLowerCase().replace(/\s/g, '-')})`
                          }
                        "
                      ></button>
                    </template>

                    <template x-if="!option.name.toLowerCase().includes('color')">
                      <button
                        type="button"
                        style="border: 1px solid #2C3C60;"
                        @click="
                          changeVariant({
                            name: option.name,
                          }, value)
                        "
                        class="tw-flex tw-items-center tw-justify-center tw-px-2 tw-min-h-5"
                        :class="
                          {
                            active: selectedVariant?.options.includes(value)
                          }
                        "
                      >
                        <span class="tw-text-sc-blue tw-text-xs" x-text="value"></span>
                      </button>
                    </template>
                  </template>
                </div>
              </template>
            </div>
          {% endunless %}
        {% endform %}
      </div>
    </div>

    <div class="tw-flex-shrink-0 tw-flex">
      <button
        class="tw-w-10.5 tw-h-10.5 lg:tw-w-[46px] lg:tw-h-[46px] tw-flex lg:tw-hidden tw-items-center tw-justify-center tw-bg-sc-blue tw-shrink-0 tw-rounded-full"
        :aria-busy="isAddingToCart"
        @click="addToCart()"
        type="button"
        :class="{'tw-pointer-events-none tw-opacity-70' : selectedVariant?.available === false}"
      >
        {% render 'icon-42', name: 'cart-icon' %}
      </button>
      <button
        class="tw-h-7.5 lg:tw-flex tw-hidden tw-items-center tw-justify-center tw-bg-sc-blue tw-shrink-0 tw-rounded-full tw-px-4.5"
        :aria-busy="isAddingToCart"
        @click="addToCart()"
        type="button"
        :class="{'tw-pointer-events-none tw-opacity-70' : selectedVariant?.available === false}"
      >
        <span class="tw-uppercase tw-text-white tw-text-xs">{{ 'products.product.add_to_bag' | t }}</span>
      </button>
    </div>

    {% render 'product-json', product: product %}
  </div>
{% endif %}
