{% liquid
  assign images = product.media | where: 'media_type', 'image'
  assign custom_image = custom_image | default: images[0]
  assign selected_or_first_available_variant = product.selected_or_first_available_variant | default: product.variants[0]
  assign _badge_position = badge_position | default: 'overlay'
%}

<style>
  .product_selector_for_app .jdgm-prev-badge__text {
    font-weight: 400 !important;
    font-size: 11px !important;
    line-height: 14px !important;
    letter-spacing: 0;
    color: black !important;
  }
</style>

{% if product != blank %}
  <div
    x-data="
      productCard({
        product:  {{ product | json | escape }},
        productOptions: {{ product.options_with_values | json | escape  }},
        selectedVariant: {% if product.selected_or_first_available_variant %}{{ product.selected_or_first_available_variant | json | escape  }}{% else %}{{ product.variants[0] | json | escape  }}{% endif %}
      })
    "
    class="product_selector_for_app tw-h-full tw-flex tw-flex-col {{ class }}"
  >
    {% render 'product-json', product: product %}

    {% if _badge_position == 'above' %}
      <div class="tw-flex tw-gap-1 tw-flex-wrap tw-mb-4 lg:tw-mb-5">
        {% render '42-product-badge', product: product %}
      </div>
    {% endif %}

    <div class="tw-relative tw-flex tw-items-center tw-justify-center {% if _badge_position == 'above' %}tw-pt-0{% else %}tw-pt-12{% endif %} tw-mb-3.5">
      {% if _badge_position == 'overlay' %}
        <div class="tw-absolute tw-top-2 tw-left-2 tw-z-10 tw-flex tw-gap-1 tw-flex-wrap">
          {% render '42-product-badge', product: product %}
        </div>
      {% endif %}

      {% if custom_image != blank %}
        <!-- PRODUCT CARD IMAGE -->
        <a
          :href="selectedVariant?.link"
          class="tw-flex tw-relative"
          x-data="{ isShowHoverImg: false }"
          @mouseenter="isShowHoverImg = hoverImage ? true : false"
          @mouseleave="isShowHoverImg = false"
        >
          <img
            class="tw-w-full tw-h-auto tw-object-cover tw-aspect-square tw-relative tw-z-0"
            :class="{ 'tw-opacity-0': isShowHoverImg }"
            :src="productImage"
            :alt="`${product?.title} - ${selectedVariant?.name}`"
            height="100%"
            width="100%"
          >
          <img
            x-cloak
            x-show="isShowHoverImg"
            class="tw-absolute tw-top-0 tw-left-0 tw-w-full tw-h-auto tw-object-cover tw-aspect-square tw-z-5"
            :src="hoverImage"
            :alt="`${product?.title} - ${selectedVariant?.name}`"
            height="100%"
            width="100%"
          >
        </a>
      {% endif %}
    </div>

    <div class="tw-mb-5">
      <!-- Judge.me REVIEW STAR -->
      <div class="tw-flex tw-h-6">
        <div
          style="{{ jm_style }}"
          class="jdgm-widget jdgm-preview-badge"
          data-id="{{ product.id }}"
          data-auto-install="false"
        >
          {{ product.metafields.judgeme.badge }}
        </div>
      </div>

      <!-- PRODUCT CARD TITLE -->
      <a :href="selectedVariant?.link">
        <h3
          class="tw-text-black tw-text-base tw-font-bold lg:tw-text-lg lg:!tw-leading-[22px] tw-mt-1 lg:tw-mt-2"
          x-text="product?.title"
        >
          {{ custom_title }}
        </h3>
      </a>

      {% if product.metafields.theme.cutline.value != blank %}
        <!-- PRODUCT CARD CUSTOM DESCRIPTION -->
        <p class="tw-text-sm lg:tw-text-[15px] lg:tw-leading-[22px] tw-text-black tw-mt-1">
          {{ product.metafields.theme.cutline.value }}
        </p>
      {% endif %}

      <div class="tw-mt-1.5 lg:tw-mt-2.5 tw-flex tw-items-center tw-gap-1 lg:tw-gap-[7px]">
        <span
          aria-label="price"
          class="tw-text-[#0009FF] tw-font-medium tw-text-base lg:tw-text-lg lg:tw-leading-[24px]"
          x-text="formatMoney(selectedVariant?.price)"
        >
        </span>
        <template x-if="selectedVariant?.compare_at_price && selectedVariant?.compare_at_price > selectedVariant?.price">
          <span
            aria-label="compare at price"
            class="tw-text-[#888888] tw-font-medium tw-text-sm lg:tw-text-base !tw-leading-[22px] tw-line-through"
            x-text="formatMoney(selectedVariant?.compare_at_price)"
          >
          </span>
        </template>
      </div>

      {% form 'product', product %}
        {% unless product.has_only_default_variant %}
          <div class="tw-mt-2.5">
            <template x-for="option in productOptions" :key="option.name">
              <div class="tw-flex tw-flex-wrap tw-gap-2">
                <template x-for="value in option.values" :key="value">
                  <template x-if="option.name.toLowerCase().includes('color')">
                    <button
                      type="button"
                      @click="
                        changeVariant({
                          name: option.name,
                        }, value)
                      "
                      class="swatches tw-w-3.5 tw-h-3.5 tw-rounded-full"
                      :class="
                        {
                          active: selectedVariant?.options.includes(value),
                          ['swatch-' + value.toLowerCase().replace(/\s/g, '-')]: true
                        }
                      "
                      :style="
                        {
                          border: selectedVariant?.options.includes(value) ? '1px solid #2C3C60' : '1px solid #929292',
                          '--swatch': `var(--${value.toLowerCase().replace(/\s/g, '-')})`,
                          backgroundColor: `var(--${value.toLowerCase().replace(/\s/g, '-')})`
                        }
                      "
                    ></button>
                  </template>

                  <template x-if="!option.name.toLowerCase().includes('color')">
                    <button
                      type="button"
                      style="border: 1px solid #2C3C60;"
                      @click="
                        changeVariant({
                          name: option.name,
                        }, value)
                      "
                      class="tw-flex tw-items-center tw-justify-center tw-px-3 tw-min-h-7"
                      :class="
                        {
                          active: selectedVariant?.options.includes(value)
                        }
                      "
                    >
                      <span class="tw-text-sc-blue tw-text-xs" x-text="value"></span>
                    </button>
                  </template>
                </template>
              </div>
            </template>
          </div>
        {% endunless %}
      {% endform %}
    </div>

    {% if btn_type_2 != blank and btn_type_2 == true %}
      <div class="tw-flex tw-flex-col tw-mt-auto tw-gap-2.5">
        <button
          class="btn-42 btn-42--secondary "
          @click="$store.cart.addToCart([{ id: '{{ selected_or_first_available_variant.id }}', quantity: 1 }], true); isShowPairsWellWith = false"
          type="button"
          :class="{'tw-pointer-events-none tw-opacity-70' : selectedVariant?.available === false}"
        >
          ADD TO BAG
        </button>

        <button
          class="btn-42 btn-42--primary !tw-border !tw-border-solid !tw-borde-sc-blue"
          @click="$store.cart.buyNow([{ id: '{{ selected_or_first_available_variant.id }}', quantity: 1 }]); isShowPairsWellWith = false"
          type="button"
          :class="{'tw-pointer-events-none tw-opacity-70' : selectedVariant?.available === false}"
        >
          BUY NOW
        </button>
      </div>

    {% else %}
      <div class="tw-flex tw-mt-auto tw-gap-2.5">
        <button
          style="border: 1px solid #2C3C60"
          class="tw-relative tw-w-full tw-h-10.5 lg:tw-h-[46px] tw-flex tw-items-center tw-justify-center tw-rounded-[140px] tw-transition-all tw-duration-200 hover:tw-bg-sc-light-blue/20"
          type="button"
          @click="
            $store.ajaxProductPage.show({
              productHandle: '{{ product.handle }}',
              variantID: '{{ selected_or_first_available_variant.id }}',
            })
          "
        >
          <span class="tw-text-sc-blue tw-text-sm tw-leading-[24px] tw-font-medium tw-uppercase">
            {{- 'products.product.quick_view' | t -}}
          </span>
          <span
            x-show="$store.ajaxProductPage.loader === '{{ selected_or_first_available_variant.id }}'"
            class="tw-absolute tw-inset-0 tw-flex tw-justify-center tw-items-center"
          >
            {%- render 'icon-42', name: 'loader', class: 'md:tw-w-7 tw-w-5' -%}
          </span>
        </button>
        <button
          class="tw-relative tw-w-10.5 tw-h-10.5 lg:tw-w-[46px] lg:tw-h-[46px] tw-flex tw-items-center tw-justify-center tw-bg-sc-blue tw-shrink-0 tw-rounded-full tw-transition-all tw-duration-200 hover:tw-bg-sc-blue/90"
          :aria-busy="isAddingToCart"
          @click="addToCart()"
          type="button"
          :class="{'tw-pointer-events-none tw-opacity-70' : selectedVariant?.available === false}"
        >
          <span x-show="!loader">
            {% render 'icon-42', name: 'cart-icon' %}
          </span>
          <span
            x-show="loader"
            class="tw-absolute tw-inset-0 tw-flex tw-justify-center tw-items-center"
          >
            {%- render 'icon-42', name: 'loader', class: 'tw-w-5 !tw-text-white !tw-fill-sc-blue' -%}
          </span>
        </button>
      </div>
    {% endif %}
  </div>
{% endif %}
