<section style="position: relative;">
  <div class="landing-hero">
    <div class="container">
      <h1 class="heading1">{{ section.settings.heading1 }}</h1>
      <h2 class="heading2">{{ section.settings.heading2 }}</h2>
      <div class="hightlight-container">
        <h2 class="heading-highlight">{{ section.settings.hightlight }}</h2>
        {% if section.settings.tooltip != blank %}
          <p class="tooltip-heading">{{ section.settings.tooltip }}</p>
        {% endif %}
      </div>
      <div class="description-image-container">
        <p class="description">{{ section.settings.description }}</p>
        {% if section.settings.show_image %}
          <div class="overflow-image-container">
            <img src="{{ section.settings.overflow_image | image_url: width:300 }}" width="300" height="auto" alt="Overflow Image" class="overflow-image" />
          </div>
        {% endif %}
      </div>
      {% if section.settings.show_klaviyo %}
        <div class="klaviyo-form-URKe4P"></div>
      {% else %}
        <div class="landing-entry__button-wrapper" style="--button-margin-top: {{ section.settings.button_margin_top }}px;">
          <a href="{{ section.settings.button_url }}" class="landing-entry__button btn">
            {{ section.settings.button_text }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>

  {% if section.settings.hero_image != blank %}
    <div class="hero-image-container">
        <img src="{{ section.settings.hero_image | image_url: width:1025 }}" width="1025" height="auto" alt="Bundle Image" class="hero-image" />
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Landing Page Section",
  "settings": [
    {
      "type": "text",
      "id": "heading1",
      "label": "Main Heading",
      "default": "Giveaway"
    },
    {
      "type": "text",
      "id": "heading2",
      "label": "Main Heading",
      "default": "$500+ Transformation Toolkit"
    },
    {
      "type": "text",
      "id": "hightlight",
      "label": "Hightlight",
      "default": "Win the Life You Actually Want"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "Show Image",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "overflow_image",
      "label": "Overflow Image"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Enter for a chance to win our exclusive productivity bundle designed for total life transformation."
    },
    {
      "type": "textarea",
      "id": "tooltip",
      "label": "Tooltip",
      "default": "Tooltip text"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "checkbox",
      "id": "show_klaviyo",
      "label": "Show Email",
      "default": true
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Yes, I Want In!"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "text",
      "id": "cta_email",
      "label": "Email Input Placeholder",
      "default": "Enter for free"
    }
  ],
  "presets": [
    {
      "name": "Landing Page Banner"
    }
  ]
}
{% endschema %}