<section style="position: relative;">
  <div class="landing-hero">
    <div class="container">
      <h1 class="heading1">{{ section.settings.heading1 }}</h1>
      <h2 class="heading2">{{ section.settings.heading2 }}</h2>
      <div class="hightlight-container">
        <h2 class="heading-highlight">{{ section.settings.hightlight }}</h2>
        {% if section.settings.tooltip != blank %}
          <p class="tooltip-heading">{{ section.settings.tooltip }}</p>
        {% endif %}
      </div>
      <p class="description">{{ section.settings.description }}</p>

      <div class="klaviyo-form-URKe4P"></div>
    </div>
  </div>

  {% if section.settings.hero_image != blank %}
    <div class="hero-image-container">
        <img src="{{ section.settings.hero_image | image_url: width:1025 }}" width="1025" height="auto" alt="Bundle Image" class="hero-image" />
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Landing Page Section",
  "settings": [
    {
      "type": "text",
      "id": "heading1",
      "label": "Main Heading",
      "default": "Giveaway"
    },
    {
      "type": "text",
      "id": "heading2",
      "label": "Main Heading",
      "default": "$500+ Transformation Toolkit"
    },
    {
      "type": "text",
      "id": "hightlight",
      "label": "Hightlight",
      "default": "Win the Life You Actually Want"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Enter for a chance to win our exclusive productivity bundle designed for total life transformation."
    },
    {
      "type": "textarea",
      "id": "tooltip",
      "label": "Tooltip",
      "default": "Tooltip text"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "text",
      "id": "cta_email",
      "label": "Email Input Placeholder",
      "default": "Enter for free"
    }
  ],
  "presets": [
    {
      "name": "Landing Page Banner"
    }
  ]
}
{% endschema %}